NIST_V0_cast_vote_records.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema elementFormDefault="qualified" targetNamespace="NIST_V0_cast_vote_records.xsd" version="0.0" xmlns="NIST_V0_cast_vote_records.xsd" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <!-- ========== Imports ========== -->
  <xsd:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/2000/09/xmldsig#"/>
  <!-- ========== Roots ========== -->
  <xsd:element name="CastVoteRecordReport" type="CastVoteRecordReport"/>
  <!-- ========== Enumerations ========== -->
  <xsd:simpleType name="BallotSelectionStatus">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Used in ContestVote.Status to identify the status of a ballot selection.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="adjudicated">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            To indicate that the ballot selection was adjudicated.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="generated-rules">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            To indicate that the ballot selection was generated per contest rules.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="invalidated-rules">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            To indicate that the ballot selection was invalidated by the generating device because of contest rules.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="needs-adjudication">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            To indicate that the ballot selection was flagged by the generating device for adjudication.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="overvoted">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            To indicate that the ballot selection was overvoted.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="undervoted">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            To indicate that the ballot selection was undervoted.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used when no other value in this enumeration applies to the ballot selection.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="BallotStatus">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Used in CastVoteRecord.Status to identify the status of the ballot.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="adjudicated">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            To indicate that the ballot has been adjudicated.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="counted">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            To indicate that the ballot has been counted.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="invalid">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            To indicate that the ballot is invalid (not a ballot).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="needs-adjudication">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            To indicate that the ballot needs to be adjudicated.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="unreadable">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            To indicate that the ballot was not entirely readable by the scanner.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used when no other value in this enumeration applies to the ballot.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CVRComponentStatus">
    <xsd:restriction base="xsd:string">
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CastVoteRecordVersion">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="1.0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ContestStatus">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Used in ContestVote.Status to identify the status of a contest in which ballot selection(s) were made.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="adjudicated">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The contest has been adjudicated.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="invalidated-rules">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to indicate that the contest has been invalidated by the generating device because of contest rules.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="overvoted">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to indicate that the contest was overvoted.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="undervoted">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to indicate that the contest was undervoted.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used when no other value in this enumeration applies to the contest.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="HashType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Used in Hash.type to indicate a type of hash used for an image file.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="md6"/>
      <xsd:enumeration value="sha-512"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="IdentifierType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Used in Code.Type to indicate the type of code/identifier being used.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="fips">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to indicate that the identifier is a FIPS code.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="local-level">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to indicate that the identifier is from a local-level scheme, i.e., unique to a county or city.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="national-level">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to indicate that the identifier is from a national-level scheme other than FIPS or OCD-ID.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="ocd-id">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to indicate that the identifier is from the OCD-ID scheme.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="state-level">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to indicate that the identifier is from a state-level scheme, i.e., unique to a particular state.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used when no other value in this enumeration applies to the identifier type.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ReportType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Used in CastVoteRecordReport.ReportType to indicate the type of report.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="adjudicated">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used when the report contains adjudications.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="aggregated">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used when the report is an aggregation of device reports.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="originating-device-export">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used when the report is an export from a device such as a scanner.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="rcv-round">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used when the report is the result of a ranked choice voting round.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ReportingUnitType">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Used in GpUnit.Type to indicate the type of political geography, e.g., precinct, where the reporting device was located.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="combined-precinct">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to indicate a combined precinct.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="polling-place">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to indicate a polling place.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="precinct">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to indicate a precinct.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="split-precinct">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to indicate a split-precinct.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="vote-center">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to indicate a vote-center.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VoteMarkStatus">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Used in VoteMark.Status to identify the status of a vote mark made for a ballot selection.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="adjudicated-countable">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to indicate that the vote mark was adjudicated and is tabulatable.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="adjudicated-invalidated">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to indicate that the vote mark was invalidated because of adjudication and is not tabulatable.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="generated-countable-rules">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to indicate that the vote mark was generated by the generating device per contest rules and is tabulatable.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="invalidated-rules">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to indicate that the vote mark was invalidated by the generating device because of contest rules and is not tabulatable.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="invalidated-marginal-mark">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to indicate that the vote mark contains a marginal mark by the voter and is not tabulatable.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="voter-countable">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to indicate that the vote mark was made by the voter and is recognized as valid and is tabulatable.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
      <xsd:enumeration value="other">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used when no other value in the enumeration applies to the vote mark.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:enumeration>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VoteVariation">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Used in Contest.VoteVariation to indicate the vote variation (vote method) used to tabulate the contest.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="approval"/>
      <xsd:enumeration value="borda"/>
      <xsd:enumeration value="cumulative"/>
      <xsd:enumeration value="majority"/>
      <xsd:enumeration value="n-of-m"/>
      <xsd:enumeration value="one-of-m"/>
      <xsd:enumeration value="plurality"/>
      <xsd:enumeration value="proportional"/>
      <xsd:enumeration value="range"/>
      <xsd:enumeration value="rcv"/>
      <xsd:enumeration value="super-majority"/>
      <xsd:enumeration value="other"/>
    </xsd:restriction>
  </xsd:simpleType>
  <!-- ========== Classes ========== -->
  <xsd:complexType name="Annotation">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Used to record annotations made by one or more adjudicators.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Message" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            A message created by the annotator(s).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Name(s) of the adjudicator(s).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PreviousStatus" type="CVRComponentStatus" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The previous status (prior to the recording of the annotation) of the item being annotated, i.e., the CVR as a whole, a contest, a specific ballot selection, or a specific ballot mark.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TimeStamp" type="xsd:dateTime" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The date and time of an annotation.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BallotMeasureContest">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Indentifies the type of contest as involving a ballot measures.  Inherits attributes from the Contest class.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Contest">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BallotMeasureSelection">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Class for a type of ballot selection specific to ballot measures, e.g., "yes", "no".
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="BallotSelection">
        <xsd:sequence>
          <xsd:element name="Selection" type="InternationalizedText">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The selection, i.e., 'yes', 'no'.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BallotSelection" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Abstract class for a ballot selection in a contest on the ballot corresponding to this CVR or a CVR in the collection of CVRs. Classes for specific types of ballot selections inherit the attributes and define their own.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="ObjectId" type="xsd:ID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="BallotSelectionVote">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Used to indicate a ballot selection or marginal mark.  The ballot selection could have been:
        a) marked by the voter, including for a write-in, or 
        b) marked (generated) by the scanner per contest rules, or 
        c) marked through adjudication, or
        d) determined by the scanner as being a marginal mark.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Annotation" type="Annotation" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to record an annotation made by one or more individuals, e.g., adjudicating aspects of the ballot.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BallotSelectionId" type="xsd:IDREF" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            This will most typically have a multiplicity of 1, but can be multiple for  contests that allow selecting multiple choices.
            
            The order of this association can be used to determine candidate preference for appropriate voting variations.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OtherStatus" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            If Status is 'other', contains the ballot status.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Position" type="xsd:integer" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The ordinal position of the selection as is appreared on the ballot.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Status" type="BallotSelectionStatus" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The status of the ballot selection, e.g., 'marked-voter' for marked by the voter, taken from the BallotSelectionStatus enumeration.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TotalNumberVotes" type="xsd:integer" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            For cumulative or range voting variations, this attribute represents the total number of votes indicated across all marks.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VoteMark" type="VoteMark" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Contains further information about the mark made (e.g., by the voter) for the ballot selection.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Candidate">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Identifies a candidate in a contest on the ballot corresponding to the CVR.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Code" type="Code" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            A code or identifier associated with the candidate.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="InternationalizedText" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Candidate's name as listed on the ballot.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PartyId" type="xsd:IDREF" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The party associated with the candidate.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="ObjectId" type="xsd:ID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="CandidateContest">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Identifies the type of contest as involving one or more candidates. Inherits attributes from the Contest class.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Contest">
        <xsd:sequence>
          <xsd:element name="NumberElected" type="xsd:integer" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The number of candidates to be elected in the contest.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="PrimaryPartyId" type="xsd:IDREF" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The party associated with the contest, if a partisan primary.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="VotesAllowed" type="xsd:integer" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The number of votes allowed in the contest, e.g., 3 for a 'choose 3 of 5 candidates' contest.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CandidateSelection">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Class for a type of ballot selection specific to selecting a candidate in a contest for an office.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="BallotSelection">
        <xsd:sequence>
          <xsd:element name="CandidateIds" type="xsd:IDREFS" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The candidate associated with this ballot selection.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="IsWriteIn" type="xsd:boolean" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                A flag to indicate if the candidate selection is associated with a write-in.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CastVoteRecord">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Represents a CVR generated by a scanner or other vote capture device, containing indications of the contests and ballot selections selected because of the voter’s ballot choices, as well as other information for auditing and annotation.  Each sheet of a multi-page paper ballot is represented by an individual CVR, e.g., if all sheets of a 5-sheet ballot are scanned, 5 CVRs will be generated.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Annotation" type="Annotation" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="BallotIdentifier" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            An identifier for the ballot that this CVR represents. If provided, this number must be the same on all CVRs that represent individual sheets from the same multi-sheet ballot.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BallotImage" type="ImageData" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            An ordered list of pointers to image files of the scanner ballots.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BallotStatus" type="BallotStatus" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The status of the CVR, e.g., adjudicated, counted, etc.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BallotStyleId" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            An identifier of the ballot style of the ballot associated with this CVR.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BatchId" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The identifier for the batch that includes this CVR.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BatchSequenceNumber" type="xsd:integer" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The sequence number of the corresponding paper ballot within a batch.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ContestVote" type="ContestVote" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="ElectionId" type="xsd:IDREF" minOccurs="0"/>
      <xsd:element name="Identifier" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            An optional, unique identifier for this CVR, used to link the CVR with the corresponding paper ballot, e.g., would contain the same value that the scanner stamped on the paper ballot when scanned.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="NumWriteIns" type="xsd:integer" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The total number of write-ins in all contests of the CVR.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OriginatingDeviceId" type="xsd:IDREF" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The device that generated the cast vote records.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OtherBallotStatus" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            When BallotStatus is 'other', contains the ballot status.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Party" type="Party" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="SequenceNumber" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The sequence number for this CVR. This represents the ordinal number that this CVR was processed in by the tabulating device.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SheetNumber" type="xsd:integer" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Indicates the sheet number of the multi-sheet ballot being represented.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SmallestVotingUnitId" type="xsd:IDREF" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The smallest piece of geography associated with a voter's ballot or cast vote record at the smallest or lowest level (typically a precinct or split-precinct).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CastVoteRecordReport">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        The root class/element; attributes pertain to the status and format of the report and when generated.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="CastVoteRecord" type="CastVoteRecord" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Election" type="Election" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="GeneratedDate" type="xsd:dateTime">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Identifies the time that the election report was generated.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GpUnit" type="GpUnit" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Notes" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Notes that can be added as appropriate, presumably by an adjudicator.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OtherReportType" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            If ReportType is 'other', this contains the report type.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReportGeneratingDeviceIds" type="xsd:IDREFS">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Identification of the device that has generated this CVR report.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReportType" type="ReportType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The type of report, using the ReportType enumeration.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="ds:Signature">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Placeholder for an optional digital signature, using the W3C digital signature standard.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Version" type="CastVoteRecordVersion">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The version of the CVR specification being used (1.0).
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Code">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Used in Election, GpUnit, Contest, Candidate, Party, to identify an associated code and the type of code.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="label" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            A label associated with the code, used as needed.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OtherType" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            If Type is 'other', the type of code.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="IdentifierType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to indicate the type of code, from the IdentifierType enumeration.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Value" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The value of the code, i.e., the identifier.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Contest" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Abstract class for a contest on the ballot that corresponds to this CVR. Classes for specific types of contests inherit the attributes and define their own.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Abbreviation" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            An abbreviation associated with the contest.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BallotSelection" type="BallotSelection" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Code" type="Code" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            A code or identified used for this contest.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Title or name of the contest, e.g., "Governor" or "Question on Legalization of Gambling".
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OtherVoteVariation" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            If VoteVariation is 'other', the vote variation for this contest.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="VoteVariation" type="VoteVariation" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The vote variation for this contest.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="ObjectId" type="xsd:ID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ContestVote">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Identifies a contest in which a ballot selection was made and associates the ballot selection(s).  Overvotes plus Undervotes plus TotalVotes must equal the number of votes allowable in the contest, e.g., in a "chose 3 of 5" contest in which the voter chooses only 2, then Overvotes = 0, Undervotes = 1, and TotalVotes = 2, which adds up to the number of votes allowable = 3.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Annotation" type="Annotation" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used for an annotation that applies to the contest.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BallotSelectionVote" type="BallotSelectionVote" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="ContestId" type="xsd:IDREF"/>
      <xsd:element name="OtherStatus" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            If Status is 'other', the status of the contest
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Overvotes" type="xsd:integer" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The number of votes lost due to overvoting.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Selections" type="xsd:integer" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            ??? Ask Sam.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Status" type="ContestStatus" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The status of the contest, e.g., overvoted, undervoted, from the ContestStatus enumeration.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Undervotes" type="xsd:integer" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The number of votes lost due to undervoting.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Election">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Serves to organize the CVRs per an election, e.g., for a device, a precinct, etc., and defines the contests, ballot selections, and candidates referenced in the CVRs.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Candidate" type="Candidate" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used to establish a collection of candidates, used for linking candidates to contests.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="Code" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used for a code associated with the election, e.g., a precinct identifier if the election scope is a precinct.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Contest" type="Contest" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used for establishing a collection of contests that will be referenced by the CVRs.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ElectionScopeId" type="xsd:IDREF" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Identifies the election scope, i.e., the political geography corresponding to the election.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            A text string identifying the election.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="ObjectId" type="xsd:ID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="File">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Used to hold the contents of a file, generally an image of a paper ballot or a write-in entered on to a paper ballot.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="xsd:base64Binary">
        <xsd:attribute name="fileName" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              Contains the name of the file or an identifier of the file.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="mimeType" type="xsd:string">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">
              The mime type of the file, e.g., image/jpeg.
            </xsd:documentation>
          </xsd:annotation>
        </xsd:attribute>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="GpUnit">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Used for identifying the geographical location, i.e., the reporting unit for the report generation device, which could be the precinct location of a scanner that generates a collection of CVRs.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Code" type="Code" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            A code associated with the reporting unit.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Name of the reporting unit.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OtherType" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            If Type is 'other', contains the reporting unit type.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReportingDeviceIds" type="xsd:IDREFS" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The collection of cast vote records associated with the reporting unit and the reporting device.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="ReportingUnitType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Type of reporting unit, e.g., precinct, split-precinct, vote center, etc.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="ObjectId" type="xsd:ID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Hash">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Contains a hash associated with the file.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="OtherType" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            If Type is 'other', the type of the hash.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Type" type="HashType">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The type of the hash, from the HashType enumeration.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Value" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The hash value, encoded as a string.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Image">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Used for a file containing an image, e.g., an image of a write-in on a paper ballot.  .
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="File">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ImageData">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Used for an image file, contains information about the file.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Hash" type="Hash" minOccurs="0"/>
      <xsd:element name="Image" type="Image" minOccurs="0"/>
      <xsd:element name="Location" type="xsd:anyURI" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            A pointer to the location of the image file.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" ref="ds:Signature">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Either a signature for the embedded image, or a detached signature for the image available at the specified location.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InternationalizedText">
    <xsd:sequence>
      <xsd:element name="label" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Text" type="LanguageString" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LanguageString">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="language" type="xsd:language" use="required"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="MarkMetric">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        MarkMetric represents some generic measurement of a mark when the scanner can assign it, such as for mark density or quality. The type of the metric being used is determined by the 'Type' attribute of a MarkMetric instance.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Type" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The specific type of metric being used to determine quality.
            The supplied type must be specific enough that the attached value can be accurately verified later.  For example, 'Acme Mark Density' may be a sufficiently specific type.
            However, if different machines determine the metric using a different algorithm, then it would be necessary to be more specific: 'Acme ImageCast Precinct Mark Density'
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Value" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The string value of the metric specified by Type
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Party">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Class for describing information about a political party associated with the CVR.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Abbreviation" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Short name for the party, e.g., "DEM".
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Code" type="Code" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Name" type="InternationalizedText" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Official full name of the party, e.g., "Republican".
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="ObjectId" type="xsd:ID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="PartyContest">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Identifies the type of contest as involving a straight party selection.  Inherits attributes from the Contest class.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Contest">
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PartySelection">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        For a ballot selection specific to a party selection, i.e., for a ballot selection in a straight-party contest.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="BallotSelection">
        <xsd:sequence>
          <xsd:element name="PartyIds" type="xsd:IDREFS">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The party associated with the ballot selection.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ReportingDevice">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Used for identifying the device that has generated the CVRs. CastVoteRecordReport refers to this class as ReportGeneratingDevice.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="GpUnit">
        <xsd:sequence>
          <xsd:element name="Application" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                The application associated with the reporting device.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Manufacturer" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Manufacturer of the reporting device.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Model" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Manufacturer's model of the reporting device.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Notes" type="xsd:string" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Additional explanatory notes as applicable.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="SerialNumber" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Serial number or other identification that can uniquely identify the reporting device.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RetentionContest">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Identifies the type of contest as involving a retention, such as for a judicial retention.  Similar to a ballot measure contest and inherits attributes from Contest.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="BallotMeasureContest">
        <xsd:sequence>
          <xsd:element name="CandidateId" type="xsd:IDREF"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Status">
  </xsd:complexType>
  <xsd:complexType name="VoteMark">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Contains additional information about a (voter's) mark in a ballot selection.  The number of potential VoteMarks that should be associated with a BallotSelection is (for paper ballots) the same as the number of ovals next to a particular choice.  There will be usually 1 instance of VoteMark for plurality voting, but there could be multiple instances for RCV, approval, cumulative, or other vote variations in which a voter can select multiple candidates.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Annotation" type="Annotation" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="MarkMetric" type="MarkMetric" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="NumberVotes" type="xsd:integer" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Used for an annotation that applies to the ballot selection.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OtherStatus" type="xsd:string" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            If Status is 'other', the status of the ballot selection.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Position" type="xsd:integer" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            The ordinal position of the mark within the ballot selection.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Rank" type="xsd:integer" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            For the RCV voting variation, the rank chosen by the voter.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Status" type="VoteMarkStatus" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Status of the mark, e.g., marked-voter for marked by the voter, from the VoteMarkStatus enumeration.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="WriteInBallotSelectionVote">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Used when the ballot selection is for a write-in. WriteInBallotSelectionVote is a subclass of BallotSelectionVote and has additional attributes for the image and text of the write-in.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="BallotSelectionVote">
        <xsd:sequence>
          <xsd:element name="Image" type="ImageData" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Used for the image of the write-in from paper ballot in base64 binary encoding and/or a file identifier for the file containing the image of the write-in.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Text" type="xsd:string" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">
                Used for the text of the write-in.  If the CVR is produced from a handwritten write-in on a paper ballot, the text would be added via adjudication.
              </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>
